In [1]:
import pandas as pd

In [2]:
data_dir = 'data/'
file     = 'data.csv'

In [4]:
df = pd.read_csv(data_dir+file, header=None)
df

         0      1
0    53906  14872
1    35867  86182
2    61313  43656
3    23620  85315
4    96434  90834
..     ...    ...
995  13113  56858
996  34796  40124
997  32195  49176
998  28292  57181
999  14969  84572

[1000 rows x 2 columns]

In [7]:
df[0][0] - df[0][1]

18039

In [17]:
source1 = list(df[0].sort_values())
source2 = list(df[1].sort_values())

In [22]:
source2[1]

10740

In [25]:
res = sum([abs(source1[i] - source2[i]) for i in range(len(source1))])

In [26]:
res

1873376